* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lora", serif;
}

.container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(251, 242, 133) url("https://www.wallpaperup.com/uploads/wallpapers/2013/07/13/118066/554c2d22ce144311765a22d2f4a6c69c-700.jpg") no-repeat fixed center top;
    background-size: cover;
    
}

.weather {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 1.5rem;
}

#location {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
}

.desc {
    font-size: 1.25rem;
    text-transform: capitalize;
}

.circle {
    background-color: black;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    margin: 0 15px;
}

